#pmOverlay {
	z-index: 1000000;
	top: 0;
	width: 100%;
	position: fixed;
	background: lightblue;
	padding: 0 10px;

	display: none;

   opacity: 1;
   transition: background .50s ease-in-out;
   -moz-transition: background .50s ease-in-out;
   -webkit-transition: background .50s ease-in-out;
}

#pmOverlay:hover {
	background: #3399FF;
	cursor: pointer;
}

#pmOverlay p {
	font-weight: bold;
	line-height: 30px;
	padding: 0;
	margin: 0;
}

#page {
	margin-top: 28px;
}